.book {

}

.backgroundImg{
	background: url('../images/testMap.jpg') 0 0 no-repeat;
	position: absolute;
	width: 800px;
	height: 400px;
	left: 0;
	top: 0;
	transform: scale(1);
	cursor: hand;
}

div.backgroundImg p{
	position: absolute;
}

p.tile {
	position: absolute;
	font-size: 45px;
	opacity: 0.6;
	pointer-events: none;
	padding: 0;
	margin: 0;
}

img.tile {
	position: absolute;
	padding: 0;
	margin: 0;
	width: 38px;
	height: 38px;
}